<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>

		<h1>Notícia</h1>

		<table>
			<tr>
                <td>ID</td>
				<td>Código</td>
				<td>Bot</td>
				<td>Nome</td>
				<td>Autor</td>
				<td>Data</td>
				<td>Hora</td>
				<td>Descrição</td>
			</tr>
			<tr>
				<tr>
					<td><%= log[0].ID %></td>
					<td><%= log[0].CODIGO %></td>
					<td><%= log[0].BOT %></td>
					<td><%= log[0].NOME %></td>
					<td><%= log[0].AUTOR %></td>
					<td><%= log[0].DATE %></td>
					<td><%= log[0].TIME %></td>
					<td><%= log[0].DESCRICAO %></td>				
				</tr>
			</tr>
		</table>

	</body>
</html>