<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Logs</title>
		</head>
	<body>

		<h1>Logs</h1>

		<table>
			
			<tr>
				<td>ID</td>
				<td>Código</td>
				<td>Bot</td>
				<td>Nome</td>
				<td>Autor</td>
				<td>Data</td>
				<td>Hora</td>
				<td>Descrição</td>
			</tr>
			<% for(var i = 0; i < log.length; i++){ %>
				<tr>
					<td><%= log[i].ID %></td>
					<td><%= log[i].CODIGO %></td>
					<td><%= log[i].BOT %></td>
					<td><%= log[i].NOME %></td>
					<td><%= log[i].AUTOR %></td>
					<td><%= log[i].DATE %></td>
					<td><%= log[i].TIME %></td>
					<td><%= log[i].DESCRICAO %></td>				
				</tr>
			<% } %>

		</table>s
		</body>

	</body>
</html>